/* Importação da fonte "POPPINS" e "ORBITRON" do google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Definição de variaéis globais*/
:root {
    --cor1: #ffffff;
    --cor2: #000000;
    --cor3: #dcdcdc;    
}

/*Seletor universal - remove estilos padrão e define comportamento geral8*/
* {
    margin: 0; /*Remove todas as margens padrão*/
    padding: 0; /*Remove todos os preenchimentos padrão*/
    box-sizing: border-box; /*Faz com que a largura e altura incluam padding e borda*/

    font-family: "Poppins", sans-serif; /*Defiine a Fonte padrão como "Poppins"*/
    font-weight: 100; /*Define o peso da fonte como 100 (mais fina)*/
    font-style: normal; /*Define o estilo da fonte como normal*/
}

body {
    background-color: var(--cor1); /*Define a cor de fundo do corpo como branco*/
}
/*-------------COMEÇO ESTILIZAÇÃO HEADER--------------*/

/*Estilização do cabeçalho*/
header {
        display: flex; /*Usa flexbox para organização dos elementos */
        flex-direction: row; /*Alinha os itens do cabeçalho em linha (horizontalmente)*/
        align-items: center; /* alinha os itens ao centro verticalmente */
        justify-content: space-around; /*Distribui igualmente no espaço disponivel */
}

/*Estilização da nevegação dentro do cabeçalho*/
#header-nav {
    display: flex; /*usa flex-box*/
    flex-direction: row; /*mantem os iten da navegação em linha*/
    align-items: center;/*alinha os iten verticalmente*/
    justify-content:space-around; /*distibui os itens uniformimente*/
    gap: 40px; /*adiciona um espaço de 40px entre os itens*/
}

/* Estilização  do logotipo dentro do cabeçalho*/
header img {
    width: 300px; /*define a largura da imagem do logotipo como 300px*/        
}

/*Estilização dos links de navegação*/
.header-nav-a {
    display:flex; /*usa flexbox*/
    flex-direction: column; /*organiza os elementos verticalmente */
    align-items: center; /*centraliza os itens*/
    gap: 10px; /*adiciona um espaçamento de 10px entre os icones e o texto*/
    color: var(--cor2); /*define a cor do texto como preto*/
    text-decoration: none; /*remove o sublinhado dos links*/
    transition: all 1s ease; /*adiciona uma transição suave de 1s*/
}

/*efeito ao passar o mouse sobre os links de navegação*/
.header-nav-a:hover {
    scale: 1.2; /*aumenta o tamanho do elemento em 20% ao passar o mouse*/
}

/*Estilização dos icones de navegação*/
.header-nav-a i {
    font-size: 40px; /*define o tamanho dos icones como 40px*/
}

/*Estilização do texto do link de navegação*/
.header-nav-a span {
    font-size: 24px; /*define o tamanho da fonte como 24px*/
}
/*-------------FIM ESTILIZAÇÃO HEADER--------------*/

/*-------------COMEÇO ESTILIZAÇÃO MEIN APRESENTAÇÃO  --------------*/

#apresentacao { 
    display: flex; /*usa  flexbox*/
    flex-direction: row; /*Organiza os elementos horizontalmente*/
    align-items: start; /*alinha os elementos ao topo */
    justify-content: space-between; /*Distribui os itens uniformimente*/
    margin-top: 60px; /*Adiciona um espaçamento á esquerda de 30px*/
    margin-left: 30px; /*Adiciona um espaçamento á esquerda de 30px*/
    margin-right: 30px; /*Adiciona um espaçammento á direita de 30px*/

    background-color: var(--cor2);
    color: var(--cor1); /*Define a cor do texto como branco*/
}

/*Estilização da imagem dentro da seção de apresentação */
#apresentacao img {
    width:  75%; /*Define a largura da imagem como 75% do conteiner*/
    filter: grayscale(100%); /*Remove o efeito preto e branco*/
    transition: all 1s ease; /* Adiciona uma transiçl~lao suave de 1s*/
}

/*Efeito ao passar o mouse sobre a imagem*/
#apresentacao img:hover {
  filter: grayscale(0%); /* Remove o efeito preto e branco*/  
}

/*Estilização do conteiner texto dentro da sessão de apresentação*/
#apresentacao div {
    width: 25%; /*define a largura do bloco de texto como 25% do conteiner*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*Estilização do titulo dentro da sessão apresentação*/
#apresentacao div h2 {
    font-family: "Orbitron", sans-serif; /*Usa a fonte "Orbitron"*/
    font-optical-sizing: auto; /*Ajuste automaticamente o tamanho da fonte*/
    font-weight: 400; /*Define o peso da fonte como 400 (regular) */
    font-style: normal; /*define o estilo da fonte como normal */
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin: 10px 0 20px 0; /*Adiciona espaçamento superior e inferior*/
}

/* Estilização do subttitulo dentro da seção de apresentação */
#apresentacao div h3 {
    width:  100%; /* Define a largura como total*/
    text-align: center;
    padding: 0 40px 30px 40px; /*adiciona preenchimento interno nos lados e inferior*/
    font-size: 20px;
    font-weight: 600;
}

/*estilização dos paragrafos dentro da sessão apresentação*/
#apresentacao div p {
    margin: 0 20px 20px 20px;
}

/*Estilização do botão dentro da sessão apresentação*/
#apresentacao div button {
    margin: 10px; 
    width: 70%;
    height: 50%;
    background-color: var(--cor1);
    color: var(--cor2);
    font-size: 20px;
    font-weight: 600;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease;
}

/*Efeito ao passar o mouse sobre o botão*/
#apresentacao div button:hover {
    background-color: var(--cor2);
    color: var(--cor1);
}
/*-------------FIM ESTILIZAÇÃO MEIN APRESENTAÇÃO  --------------*/

/*-------------COMEÇO ESTILIZAÇÃO MEIN CARDS  --------------*/

#servicos {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#servicos h2 {
    text-shadow: 3px 3px 3px var(--cor3);
    text-align: center;
    font-size: 60px;
    font-weight: 800;
}

#cards{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.card {
    border: 2px solid var(--cor2);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--cor3);
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor2);
    color: var(--cor1);
    transition: all 1s ease;
}

.card:hover {
    background-color: var(--cor1);
    color: var(--cor2);
    transform: translateY(-20px);
}

.card img {
    width: 100%;
}

.card h3 { 
    margin-top: 20px;
    font-weight: 500;
}

.card p {
    margin-top: 20px;
    font-weight: 500;
    height: 200px;
}

.card button {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid var(--cor1);
    border-radius: 5px;
    background-color: var(--cor2);
    color: var(--cor1);
    width: 60%;
    height: 50px;
    font-weight: 600;
    cursor: pointer;
}

/* EstilizaÃ§Ã£o da seÃ§Ã£o "Quem somos" */
#quemsomos {
    color: var(--cor2); /* Define a cor do texto como preto */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    padding-left: 50px; /* Adiciona preenchimento Ã  esquerda de 50px */
}

/* EstilizaÃ§Ã£o do tÃ­tulo da seÃ§Ã£o "Quem somos" */
#quemsomos h2 {
    text-align: center; /* Centraliza o texto */
    margin: 40px 0 40px 0; /* Adiciona margens superior e inferior de 40px */
    font-size: 80px; /* Define o tamanho da fonte como 80px */
    font-weight: 800; /* Define o peso da fonte como 800 (negrito) */
    text-shadow: 2px 2px 2px var(--cor3); /* Adiciona uma sombra ao texto */
}

/* EstilizaÃ§Ã£o do contÃªiner dos profissionais */
#listadeprofissionais {
    display: flex; /* Usa Flexbox para organizar os itens */
    flex-direction: row; /* Organiza os itens na linha (horizontalmente) */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Centraliza os itens dentro do contÃªiner */
    gap: 100px; /* Adiciona um espaÃ§amento de 100px entre os itens */
    margin-bottom: 100px; /* Adiciona uma margem inferior de 100px */
}

/* EstilizaÃ§Ã£o dos links dentro da lista de profissionais */
#listadeprofissionais a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: var(--cor2); /* Define a cor do texto como preto (variÃ¡vel) */
    display: flex; /* Usa Flexbox para organizar os itens dentro do link */
    flex-direction: column; /* Organiza os itens verticalmente dentro do link */
    align-items: center; /* Centraliza os itens dentro do link */
    justify-content: center; /* Alinha os itens ao centro verticalmente */
    gap: 5px; /* Adiciona um espaÃ§amento de 5px entre os itens dentro do link */
    cursor: pointer; /* Muda o cursor para pointer quando passa sobre o link */
    filter: grayscale(100%); /* Deixa a imagem do link em preto e branco */
    border-bottom: 1px solid transparent; /* Adiciona uma borda inferior transparente */
    transition: all 1s ease; /* Adiciona uma transiÃ§Ã£o suave de 1s para todos os efeitos */
}

/* Efeito ao passar o mouse sobre os links dentro da lista de profissionais */
#listadeprofissionais a:hover {
    scale: 1.3; /* Aumenta o tamanho do link em 30% ao passar o mouse */
    transform: translateY(-20px); /* Move o link 20px para cima */
    filter: grayscale(0%); /* Remove o efeito preto e branco da imagem */
    border-bottom: 1px solid var(--cor2); /* Adiciona uma borda inferior preta (variÃ¡vel) */
}

/* EstilizaÃ§Ã£o das imagens dentro dos links de profissionais */
#listadeprofissionais a img {
    width: 150px; /* Define a largura da imagem como 150px */
    border-radius: 50%; /* Torna a imagem redonda */
    border: 2px solid var(--cor2); /* Adiciona uma borda de 2px de cor preta ao redor da imagem */
}

/* EstilizaÃ§Ã£o do texto dentro dos links de profissionais */
#listadeprofissionais a p {
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
}

/* EstilizaÃ§Ã£o dos profissionais dentro da seÃ§Ã£o "Quem somos" */
.profissionais {
    display: flex; /* Usa Flexbox */
    flex-direction: row; /* Organiza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza os itens */
    gap: 80px; /* Adiciona um espaÃ§o de 80px entre os itens */
    margin-bottom: 100px; /* Adiciona margem inferior de 100px */
}

/* EstilizaÃ§Ã£o do profissional */
.profissional {
    position: relative; /* Essencial para posicionar filhos com position: absolute */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    width: 35%; /* Define a largura do profissional como 35% do container */
    border-radius: 0 0 0 30px; /* Arredonda a parte inferior esquerda do profissional */
    box-shadow: 5px 5px 5px var(--cor3); /* Adiciona uma sombra ao profissional */
    height: 700px; /* Define a altura do profissional como 700px */
    border: 1px solid var(--cor2); /* Adiciona uma borda preta de 1px */
    transition: all 1s ease; /* Adiciona uma transiÃ§Ã£o suave */
}

/* Efeito ao passar o mouse sobre o profissional */
.profissional:hover {
    background-color: var(--cor2); /* Altera o fundo para preto */
    color: var(--cor1); /* Altera a cor do texto para branco */
}

/* EstilizaÃ§Ã£o da imagem dentro do profissional */
.profissional img {
    width: 100%; /* Define a largura da imagem como 100% do container */
    margin-bottom: 20px; /* Adiciona margem inferior de 20px */
    filter: grayscale(100%); /* Deixa a imagem em preto e branco */
}

/* Efeito ao passar o mouse sobre a imagem do profissional */
.profissional img:hover {
    filter: grayscale(50%); /* Deixa a imagem em 50% preto e branco */
}

/* EstilizaÃ§Ã£o do texto dentro do profissional */
.profissional-texto {
    padding-left: 50px; /* Adiciona preenchimento Ã  esquerda de 50px */
}

/* EstilizaÃ§Ã£o do nome dentro do profissional */
.profissional-texto h3 {
    font-size: 40px; /* Define o tamanho da fonte como 40px */
    font-weight: 600; /* Define o peso da fonte como 600 (seminegrito) */
    height: 60px; /* Define a altura do nome como 60px */
}

/* EstilizaÃ§Ã£o do cargo dentro do profissional */
.profissional-texto h4 {
    font-size: 30px; /* Define o tamanho da fonte como 30px */
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
    font-style: italic; /* Define o estilo da fonte como itÃ¡lico */
    height: 60px; /* Define a altura do cargo como 60px */
}

/* EstilizaÃ§Ã£o da descriÃ§Ã£o dentro do profissional */
.profissional-texto p {
    font-size: 20px; /* Define o tamanho da fonte como 20px */
    font-weight: 300; /* Define o peso da fonte como 300 (mais fino) */
    height: 100px; /* Define a altura da descriÃ§Ã£o como 100px */
    padding-right: 30px; /* Adiciona preenchimento Ã  direita de 30px */
}

/* EstilizaÃ§Ã£o da avaliaÃ§Ã£o do profissional */
.avaliacao-profissional {
    position: absolute; /* Posicionamento absoluto dentro da .profissional */
    top: 0px; /* DistÃ¢ncia do topo */
    left: 0px; /* DistÃ¢ncia da esquerda */
    width: 100px; /* Largura fixa de 100px */
    height: 100px; /* Altura fixa de 100px */
    background-color: var(--cor1); /* Cor de fundo branca */
    border: 3px solid var(--cor2); /* Borda preta de 3px */
    color: var(--cor2); /* Cor do texto preta */
    border-radius: 50%; /* Forma circular */
    display: flex; /* Usa Flexbox */
    flex-direction: column; /* Organiza os elementos verticalmente */
    align-items: center; /* Centraliza os itens */
    justify-content: center; /* Centraliza o conteÃºdo */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    z-index: 2; /* Garante que fique sobre a imagem */
    transform: translateX(-50px) translateY(-50px); /* Ajuste da posiÃ§Ã£o */
    transition: 1s all ease; /* Adiciona uma transiÃ§Ã£o suave */
}

/* Efeito ao passar o mouse sobre a avaliaÃ§Ã£o */
.avaliacao-profissional:hover {
    background-color: var(--cor2); /* Altera o fundo para preto */
    color: var(--cor1); /* Altera a cor do texto para branco */
}

/* EstilizaÃ§Ã£o do texto dentro da avaliaÃ§Ã£o */
.avaliacao-profissional-texto1 {
    font-size: 16px; /* Define o tamanho da fonte como 16px */
    font-weight: 400; /* Define o peso da fonte como 400 (regular) */
}

/* EstilizaÃ§Ã£o da nota dentro da avaliaÃ§Ã£o */
.avaliacao-profissional-texto2 {
    font-size: 36px; /* Define o tamanho da fonte como 36px */
    font-weight: 800; /* Define o peso da fonte como 800 (negrito) */
}

/* EstilizaÃ§Ã£o do botÃ£o do WhatsApp */
#whatsapp {
    position: fixed; /* Posicionamento fixo na tela */
    top: 75%; /* DistÃ¢ncia do topo */
    left: 92%; /* DistÃ¢ncia da esquerda */
    width: 100px; /* Largura do botÃ£o */
    height: 100px; /* Altura do botÃ£o */
    background-color: var(--cor-whatsapp); /* Cor de fundo branca */
    border: 5px solid var(--cor1); /* Borda preta de 5px */
    color: var(--cor1); /* Cor do texto branca */
    border-radius: 50%; /* Forma circular */
    display: flex; /* Usa Flexbox */
    align-items: center; /* Centraliza os itens */
    justify-content: center; /* Centraliza o conteÃºdo */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra opcional */
    z-index: 2; /* Garante que fique sobre a imagem */
    cursor: pointer; /* Muda o cursor ao passar sobre o botÃ£o */
    transition: all 1s ease; /* Adiciona uma transiÃ§Ã£o suave */
}

#whatsapp:hover {
    scale: 1.2; /* Aumenta o tamanho da div */
}
